@import "./light/index.scss";

@mixin Link() {

}

@mixin Input($font-size) {
    outline: none;
    font-size: $font-size;
    padding: 5px;
    border: 1px solid $primary;
    &:focus {
        background: $primary-light;
    }
}