@import "../../../Themes//index.scss";

#CreateTitle {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    background-color: $background;
}

.CreateInput {
    @include Input(24px);
    text-align: center;
}

#Card {
    background-color: $background;
}

#CardTitle {
    padding: 10px;
    display: flex;
    justify-content: center;
}

#CardText {
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.CreateInputTextarea {
    @include Input(22px);
    width: 500px;
}

.CardInputRadioBlock {
    display: inline-block;
	margin-right: 10px;
}

.CardInputRadioBlock input[type=radio] {
	display: none;
}
.CardInputRadioBlock label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	border: 1px solid $border;
	border-radius: 6px;
	user-select: none;
    font-size: 20px;
}

.CardInputRadioBlock input[type=radio]:checked + label {
    border: $primary;
	background: $primary-light;
}

.CardInputRadioBlock input[type=radio]:disabled + label {
	background: #efefef;
	color: $background;
}

#CardType {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.CreateInputBlocksSection {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
}

.CreateInputBlocksBlock {
  display: flex;
  gap: 5px;
}

.CreateCorrectBlocks {
  background-color: $document-background;
  border: 1px solid $border;
  border-radius: 15px;
  height: 32.8px;
  width: 32.8px;
  cursor: pointer;
}

.CreateCorrectImgBlocks {
  height: 30px;
  width: 30px;
  margin: auto;
}

#CreatePoints {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  span {
    margin: auto 10px auto 0;
  }
}

.CreatePointsInput {
  @include Input(18px);
  width: 200px;
}

.CardButtonSection {
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.CardButton {
  cursor: pointer;
  font-size: 16px;
  padding: 0 15px;
  line-height: 34px;
  background: $background;
  border: 1px solid $border;
  &:hover {
    border: 1px solid $primary;
    background: $primary-light;
  }
}

.CreateNavBar {
  display: flex;
  margin-top: 15px;
}

.CreateNavBarItem {
  background: $background;
  padding: 10px;
  cursor: pointer;
  border: 1px solid $border;
  border-top-right-radius: 14px;
}

.CreateNavBarItemActive {
  background: $primary-light;
  padding: 10px;
  cursor: pointer;
  border: 1px solid $primary;
  border-top-right-radius: 14px;
}