@import "../../Themes//index.scss";

@mixin headerSection() {
    border: 1px solid $border;
    padding: 10px;
    background-color: $background;
    display: flex;
    @media screen and (max-width: 600px) {
        flex-direction: column;
    }
}

@mixin headerSectionsChildren() {
    @media screen and (max-width: 600px) {
        margin: 5px auto;
    }
}

@mixin headerLink {
    text-decoration: none;
    color: $font-color;
}

.Header {
    color: $font-color;
}

.TopHeader {
    @include headerSection();
}

.HeaderTitle {
    font-size: 26px;
    margin: auto auto auto 50px;
    @include headerSectionsChildren();
    @include headerLink();
}

.HeaderTheme {
    margin: auto 0 auto auto;
    display:  flex;
    gap: 10px;
    border: 1px solid $border;
    border-radius: 15px;
    @include headerSectionsChildren();
}

.HeaderThemeBlock {
    border: 1px solid $border;
    cursor: pointer;
    border-radius: 15px;
    height: 30px;
    width: 30px;
}

.HeaderThemeImg {
    margin: auto;
    height: 30px;
    width: 30px;
}

.HeaderLinks {
    margin: auto 50px auto 50px;
    display: flex;
    gap: 10px;
    @include headerSectionsChildren();
}

.HeaderLink {
    font-size: 16px;
    font-weight: 600;
    @include headerLink();
}

.BottomHeader {
    @include headerSection();
}

.HeaderFind {
    margin: auto auto auto 50px;
    @include Input(22px);
    @include headerSectionsChildren();
}

.HeaderProfile {
    margin: auto 50px auto auto;
    @include headerSectionsChildren();
}

.HeaderProfileSection {
    display: flex;
    gap: 10px;
}

.HeaderProfileBlock {
    font-size: 18px;
    padding: 5px;
    border: 1px solid $border;
    cursor: pointer;
    @include headerLink();
    &:hover {
        border: 1px solid $primary;
        background-color: $primary-light;
    }
}